<!-- Footer -->
<footer>
    <div class="footer">
        <div class="container footer-area">
            <div class="columns">
                <div class="column"> Yhemmy &copy; <span></span>2019</span> All right reserved</div>
                <div class="column">
                    <ul class="social">
                        <li class="social"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="social"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
