<!-- Header -->
<div id="header-nav" class="container is-transparent">
        <!-- Icon Headers -->
        <nav class="navbar is-transparent">
            <div class="navbar-start">
                <ul class="navbar-item">
                    <li class="navbar-item"><i class="fas fa-mobile-alt "></i><span> +1 832-614-1954</span></li>

                    <li class="navbar-item"><i class="fas fa-envelope "></i><span> info@yhemmy.com</span></li> 
                </ul>
            </div>
            <div class="navbar-end">
                    <ul class="navbar-item">
                        <li class="navbar-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="navbar-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="navbar-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
            </div>
        </nav>
        
        <!-- Main Header -->
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                <img src="https://s3-us-west-2.amazonaws.com/yhemmytravels/logopng.png" width="150" height="150">
                </a>
            
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                </a>
            </div>
            
            <div  class="navbar-menu">
                <div class="navbar-start">
                
                </div>
            
                <div class="navbar-end">
                    <div class="navbar-item">
                        <a class="navbar-item">
                            HOME
                        </a>
                        <a class="navbar-item" href="#why-us">
                            WHY US??
                        </a>
                        <div class="navbar-item is-hoverable">
                            <a class="navbar-link is-arrowless navbar-item">SERVICES</a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="#flight">FLIGHT & TICKETING RESERVATION</a>
                                <a class="navbar-item" href="#airport">AIRPORT PICKUP/DROPOFF</a>
                                <a class="navbar-item" href="#student">STUDENT SERVICES</a>
                                <a class="navbar-item" href="#accomodation">HOTEL/ACCOMODATION BOOKING</a>
                            </div>
                        </div>
                        <a class="navbar-item">
                                CONTACT US
                        </a>
                        <a class="navbar-item">
                                PAYMENT
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div> 